<div class="container-fluid">
  <div class="row ">
    <div class="col">
      <h5 class="text-dark bg-light py-4 mb-0">投稿一覧</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>登録日</th>
                <th>タイトル</th>
                <th>詳細</th>
                <th>住所</th>
              </tr>
            </thead>
            <tbody>
              <% @maps.each do |map| %>
                <tr>
                  <td><%= map.created_at.strftime("%Y年%m月%d日") %></td>
                  <td><%= link_to map.title, map_path(map) %></td>
                  <td><%= map.text %></td>
                  <td><%= map.address %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <!-- フッターコンテンツ -->
</footer>
