<h2>マイページ</h2>
<div class="row">
<h3>
    <strong>登録情報</strong>
</h3>

<div>
    <%= link_to "編集する", customers_information_edit_path %>
</div>



<table>
    <tr>
        <td>ニックネーム</td>
        <td><%= @customer.name %></td>
    </tr>
    <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
    </tr>
</table>


</div>