<!--顧客のマイページと連動-->

<h1>Map Details</h1>

<p><strong>Lat:</strong> <%= map.lat %></p>
<p><strong>Lng:</strong> <%= map.lng %></p>
<p><strong>Text:</strong> <%= map.text %></p>

<%= link_to 'Back', maps_path %>

