<div class="container ">
  <div class="row">
    <div class="col with-padding">
    <h2 class="with-margin text-center">旅の思い出を共有しましょう</h2>
    <h5 class="handwriting-font">
      未知の場所での驚きと感動を、新たな思い出として刻んでみませんか？新たな場所での冒険、美しい景色、素晴らしい料理、地元の文化。これらの旅の記録を大切にし、思い出を積み重ねていくことで人生を豊かになります。
    </h5>
    <h5 class="handwriting-font t-10">
      この旅行サイトでは、あなたの旅のすべてを記録し、共有する手助けをします。旅行中思い出、おすすめスポット、そして感動的な瞬間をすべて整理し、SNSで友達や家族と共有しましょう。そして、それらの瞬間を記録することで、これらの体験があなたの人生にインスピレーションをもたらし、永遠の宝物になるでしょう。一緒に旅の思い出を刻み、驚きと感動を共有しましょう。あなたの旅の記録を始めて、新たな冒険への第一歩を踏み出しましょう。
    </h5>
    <div class="p-2 g-col-6">
      <%= link_to(root_path) do %>
        <%= image_tag("旅行写真.jpg", class: "full-width-image") %>
      <% end %>
    </div>

  </div>
</div>
