<div class="container py-2">
  <div class="row mt-2 mb-3 offset-0 text-center">
    <h4 class="p-2 mb-2 bg-light text-dark">会員一覧</h4>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-list">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == true %>
                <p class="text-secondary">退会</p>
              <% else %>
                 <p class="text-success">有効</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>