<table>
  <thead>
    <tr>
        <th>ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |order| %>
      <tr>
       <td><%= customer.name %></td>
       <td><%= order.status_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>