<table>
  <thead>
    <tr>
        <th>ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
       <td><%=customer.name %></td>
       <td><%= link_to edit_admin_customer_path%>編集</td>
      </tr>
    <% end %>
  </tbody>
</table>