<table>
  <thead>
    <tr>
        <th>ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
       <td><%=link_to customer.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>